.container {
    max-width: 700px;
    margin: 0 auto;
    transition: 0.8s linear
}

.container__items {
    margin-top: 5px;
    width: 100%;
}

.container__helper {
    text-align: center;
    margin: 3px;
    font-size: small;
}